.canvasColor{
    height: 100%;
    width: 100%;
    border: 1px solid black;
    border-radius: 2px;
}

#drawCanvas{
    border-radius: 2px;
    border:1px solid black;
}

.black{
    background: black;
}
.red{
    background: red;
}
.blue{
    background: blue;
}
.green{
    background: green;
}
.white{
    background: white;
}

.gameMessageVisible{
    opacity: 1.0;
    position: fixed;
    width: 40%;
    text-align: center;
    top: 34%;
    left: 50%;
    padding: 20px;
    transform: translate(-50%, 0);
    transition: opacity 1s;
    background-color: #D5D0DC;
    border: solid #47049F 1px;
    border-radius: 2px;
}

.gameMessageInvisible{
    opacity: 0.0;
    transition: opacity 0.8s;
    position: fixed;
    width: 40%;
    text-align: center;
    top: 34%;
    left: 50%;
    padding: 20px;
    transform: translate(-50%, 0);
    border: solid black 1px;
    border-radius: 2px;
}

.letterboxWrapper{
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
}

.letterBox{
    border: solid #47049F 1px;
    border-bottom: 0;
    border-radius: 2px 2px 0 0;
}

.letterList{
    margin: 0 4px 0 4px;
    padding: 0;
    list-style: none;
    display:flex;
    flex-flow: row;
}

.letterList li{
    width:28px;
    border-right: 1px gray solid;
}

.letterList li:last-of-type{
    width:28px;
    border-right: 0;
}

.letter{
    text-align: center;
    width: 100%;
    font-size: 24px;
    margin: 0
}

/*----------------------------------------BOOTSTRAP CUSTOMIZATION------------------------------------------------*/
/*
.color-primary-0 { color: #7B46C1 }
.color-primary-1 { color: #D5D0DC }
.color-primary-2 { color: #A482D1 }
.color-primary-3 { color: #5F11C8 }
.color-primary-4 { color: #47049F }

 */

/*----NAV----*/
#selectedNavLink{
    background-color: #A482D1;
}
.navbar{
    background-color: #7B46C1;
    border-radius: 0;
    margin-bottom: 0;
}

.navbar a{
    color: white;
}
.navbar-nav>li>a:hover,.navbar-nav>li>a:focus,.dropdown-menu,.nav .open>#myToggle{
    background-color: #A482D1;
}
.dropdown-menu>li>a:hover{
    background-color: #D5D0DC;
}
.open>.dropdown-menu>li>a{
    color: white;
}
.open>.dropdown-menu>.active>a{
    background-color: #D5D0DC;
    color: black;
}

/*----NAV----*/

/*----BUTTONS----*/
.btn{
    color: white;
    border-radius: 2px;
}
.btn-pictionare{
    background-color: #5F11C8;
}
.btn-pictionare:hover{
    color: white;
    background-color: #47049F;
}
/*----BUTTONS----*/

/*----HOME & GAME----*/
pe-home{
    flex: 1 1 auto;
}
.centreTitle{
    margin-top: 5%;
    text-align: center;
    color: #47049F;
}
.centreSubtitle{
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 1.5em;
}

.centreContentContainerRow{
    display: flex;
    flex-flow: row;
    justify-content: center;
}
.centreContentContainerRow>p{
    padding-top: 8px;
    margin-left: 12px;
    margin-right: 12px;
}
.centreContentContainerColumn{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

/*----HOME & GAME----*/

/*---QUEUE en LOADER---*/
.loaderWrapper{
    display: inline-block;
    width: 80px;
    height: 80px;
    margin: 0 auto;
}

.loader {
    width: 100%;
    height: 100%;
    border: 4px solid #f3f3f3;
    border-top: 4px solid #47049F;
    border-bottom: 4px solid #47049F;
    border-radius: 50%;
    animation: spin 1s ease-out infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/*---QUEUE en LOADER---*/

/*------GAME-----------*/
pe-game,pe-room{
    display: flex;
    flex: 1 1 auto;
}
pe-queue{
    width: 100%;
    margin-top: 16px;
}

.container-fullwidth{
    height: 100%;
    display: flex;
    flex-flow: column;
}

.roomContainer{
    padding-left: 10px;
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
    justify-content: space-between;
}

.interactionContainer{
    display: flex;
    flex-flow: row;
    flex: 1 1 auto;
    justify-content: flex-end;
}

pe-chat{
    z-index: 123;
    display: flex;
    flex-flow: column;
    background-color: #D5D0DC;
    max-width: 320px;
    flex: 1 1 auto;
}
.chatOutput{
    list-style: none;
    padding: 0;
    flex: 1 1 auto;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-bottom: 4px;
}
.chatOutput li{
    width: 100%;
    overflow-clip: true;
    padding-bottom: 2px;
    padding-top: 2px;
    padding-left: 4px;
    padding-right: 2px;
    border-bottom: solid gray 1px;
}
.chatInput{
    border-top: 1px solid gray;
    flex: none;
    height: 27px;
    padding-top: 4px;
    margin-bottom: 4px;
    padding-left: 4px;
    padding-right: 4px;
    display: flex;
}

.chatInputField,.chatInputField:focus{
    width: 50%;
    outline: none;
    border: 1px solid #47049F;
    border-radius: 2px;
    padding-left: 4px;
}
.inputField{
    outline: none;
    border: 1px solid #47049F;
    border-radius: 2px;
    padding-left: 4px;
}
.chatInput>.chatInputField:first-of-type{
    margin-right: 4px;
}

pe-canvas{
    margin-top: 10px;
}

.canvasTools{
    list-style: none;
    display: flex;
    flex-flow: row;
    margin: 0;
    padding-left: 0;
    padding-top: 4px;
}
.canvasTools li{
    height: 20px;
    width: 20px;
    margin-left: 4px;
}
.canvasTools li:first-of-type{
    margin-left: 0;
}

pe-word{
    z-index: 123;
    border-right: 1px solid #47049F;
    background-color: #D5D0DC;
}

pe-word>h4{
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 4px;
    padding-right: 4px;
    text-align: center;
    font-size: 1.5em;
    border-bottom: 1px solid gray;
}

pe-word>p{
    text-align: center;
    font-size: 1em;
}
pe-word>div{
    padding-left: 4px;
    padding-right: 4px;
}
pe-word>ul{
    margin-left: 4px;
    margin-right: 4px;
    list-style: none;
    padding: 0;
}
pe-word>ul>li{
    width: 100%;
    padding-bottom: 2px;
    padding-top: 2px;
    padding-left: 4px;
    padding-right: 2px;
}

/*------GAME-----------*/

/*------LIST OVERVIEWS-----------*/

.list-group{
    margin-top: 16px;
}
.list-group-item{
    padding-bottom: 4px;
    padding-top: 4px;
}
.list-group-item:hover{
    background-color: #D5D0DC;
}
.list-group-item:first-child,.list-group-item:last-child{
    border-radius: 0;
}
.list-group-item>h3{
    margin-top: 8px;
}
.list-group-item>p{
    margin-bottom: 2px;
}

/*------LIST OVERVIEWS-----------*/

/*------AUTH en SIGN IN------------*/

pe-authentication{
    display: flex;
    justify-content: center;
}
.authBlock{
    margin-right: 16px;
}

/*------AUTH en SIGN IN------------*/

