h1{
    color: darkblue;
}

li{
    list-style-type: none;
}

.canvasColor{
    height: 10px;
    border: 1px solid black;
    border-radius: 3px;
}

#drawCanvas{
    border:1px solid black;
}

.black{
    background: black;
}.red{
     background: red;
 }.blue{
      background: blue;
  }.green{
       background: green;
   }.white{
        background: white;
    }