body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
/*----------NORMALIZE----------*/
.canvasColor{
    height: 100%;
    width: 100%;
    border: 1px solid black;
    border-radius: 2px;
}

#drawCanvas{
    border-radius: 2px;
    border:1px solid #47049F;
}

.black{  background: black;  }
.red{  background: red;  }
.blue{  background: blue;  }
.green{  background: green;  }
.white{  background: white;  }

.gameMessageVisible{
    z-index: 123;
    opacity: 1.0;
    position: fixed;
    max-width: 40%;
    text-align: center;
    top: 34%;
    left: 50%;
    transform: translate(-50%, 0);
    transition: opacity 1s;
    background-color: #D5D0DC;
    border: solid #47049F 1px;
    border-radius: 2px;
}
.messageWrapper{
    position: relative;
    overflow: hidden;
}
.messageWrapper>p{
    margin-left: 78px;
    margin-right: 32px;
}
.gameMessageVisible .btn-pictionare{
    position: absolute;
    top: 4px;
    right: 4px;
    padding: 2px 6px 2px 6px;
}
.gameMessageVisible .icon-happy{
    position: absolute;
    top: -15px;
    left: -20px;
    font-size: 6em;
}
.gameMessageVisible .icon-trophy{
    position: absolute;
    top: -5px;
    left: -20px;
    font-size: 5em;
    transform: rotate(25deg);
}
.gameMessageVisible .messageIcon:before{
    color: #A482D1;
}


.gameMessageInvisible{
    opacity: 0.0;
    position: fixed;
}
.letterboxWrapper{
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
}

.letterBox{
    border: solid #47049F 1px;
    border-bottom: 0;
    border-radius: 2px 2px 0 0;
}

.letterList{
    margin: 0 4px 0 4px;
    padding: 0;
    list-style: none;
    display:flex;
    flex-flow: row;
}

.letterList li{
    width:28px;
    border-right: 1px gray solid;
}

.letterList li:last-of-type{
    width:28px;
    border-right: 0;
}

.letter{
    text-align: center;
    width: 100%;
    font-size: 24px;
    margin: 0
}
/*
.color-primary-0 { color: #7B46C1 }
.color-primary-1 { color: #D5D0DC }
.color-primary-2 { color: #A482D1 }
.color-primary-3 { color: #5F11C8 }
.color-primary-4 { color: #47049F }
 */

/*----NAV----*/
#selectedNavLink{
    background-color: #A482D1;
}
.navbar{
    display: flex;
    justify-content: space-between;
    background-color: #7B46C1;
    border-radius: 0;
    margin-bottom: 0;
}

.navbar-header{  padding: 8px;  }
.navbar-brand{  font-size: 2em;  }

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.navbar a{
    text-decoration: none;
    color: white;
}
.navbar-nav{
    display: flex;
}

.nav-row{
    display: flex;
    margin-left: 8px;
}
.nav-row>li>a,.navbar-nav>a,.navbar-nav-right>a{
    display: inline-block;
    font-size: 1.1em;
    padding:16px 8px 17px 8px;
}

.navbar-nav li,.navbar-nav-right>a{
    cursor: pointer;
}

.nav-row>li:hover{
    transition: 0.5s background-color;
    background-color: #A482D1;
}

.navbar-nav-right:hover .dropdown{
    display: block;
}

.navbar-nav-right:hover .toggleButton{
    transition: 0.5s background-color;
    background-color: #A482D1;
}

.dropdown{
    display: none;
    background-color: #A482D1;
    position: absolute;
    top: 54px;
    right: 0;
    width: 96px;
}
.dropdown-icon{
    color: white;
    margin-left: 8px;
    margin-right: 8px;
}
.dropdown>li{
    width: 100%;
    padding: 8px 0px 8px 0px;
}
.dropdown>li{  cursor: pointer;}
.dropdown>li>a{
    padding-left: 2px;
}

.dropdown>li:hover{
    background-color: #D5D0DC;
}
.divider{
    border-top: 1px solid #D5D0DC;
}
.dropdown>.divider:hover{
    background-color: #A482D1;
}
/*----NAV----*/

/*----BUTTONS----*/
.btn{
    padding: 6px;
    font-size: 1.05em;
    color: white;
    border-radius: 2px;
    border: none;
}
.btn-pictionare>.icon-enter,.btn-pictionare>.icon-pacman{
    display: inline-block;
    padding-top: 6px;
    margin-right: 8px;
}
.btn-text{
    display: inline-block;
    padding-right: 4px;
}

.btn-pictionare{
    background-color: #5F11C8;
}
.btn-pictionare{
    color: white;
    background-color: #47049F;
    cursor: pointer;
}
/*----BUTTONS----*/

/*----HOME & GAME----*/
pe-home{
    flex: 1 1 auto;
}
.leftTitle{
    color: #47049F;
    margin: 28px 0px 16px 16px;
}
.centreTitle{
    margin-top: 65px;
    text-align: center;
    color: #47049F;
}
.centreSubtitle{
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 1.5em;
}

.centreContentContainerRow{
    display: flex;
    flex-flow: row;
    justify-content: center;
}
.centreContentContainerRow>p{
    margin: 0;
    padding-top: 4px;
    margin-left: 12px;
    margin-right: 12px;
}
.centreContentContainerColumn{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
/*----HOME & GAME----*/
/*---QUEUE en LOADER---*/
.loaderWrapper{
    display: inline-block;
    width: 80px;
    height: 80px;
    margin: 0 auto;
}

.loader {
    width: 100%;
    height: 100%;
    border: 4px solid #f3f3f3;
    border-top: 4px solid #47049F;
    border-bottom: 4px solid #47049F;
    border-radius: 50%;
    animation: spin 1s ease-out infinite;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/*---QUEUE en LOADER---*/

/*------GAME-----------*/
pe-game,pe-room{
    display: flex;
    flex: 1 1 auto;
}
pe-queue{
    width: 100%;
    margin-top: 16px;
}

.container-fullwidth{
    height: 100%;
    display: flex;
    flex-flow: column;
}

.roomContainer{
    padding-left: 10px;
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
    justify-content: space-between;
}

.interactionContainer{
    display: flex;
    flex-flow: row;
    flex: 1 1 auto;
    justify-content: flex-end;
}

pe-chat{
    z-index: 123;
    display: flex;
    flex-flow: column;
    background-color: #D5D0DC;
    max-width: 320px;
    flex: 1 1 auto;
}
.chatOutput{
    list-style: none;
    padding: 0;
    flex: 1 1 auto;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-bottom: 4px;
}
.chatOutput li{
    width: 100%;
    overflow-clip: true;
    padding: 2px 2px 2px 4px;
    border-bottom: solid gray 1px;
}
.chatInput{
    border-top: 1px solid gray;
    flex: none;
    height: 27px;
    margin-bottom: 4px;
    padding: 4px 4px 0px 4px;
    display: flex;
}

.chatInputField,.chatInputField:focus{
    width: 50%;
    outline: none;
    border: 1px solid #47049F;
    border-radius: 2px;
    padding-left: 4px;
}
.inputField{
    outline: none;
    border: 1px solid #47049F;
    border-radius: 2px;
    padding-left: 4px;
}
.chatInput>.chatInputField:first-of-type{
    margin-right: 4px;
}

pe-canvas{
    margin-top: 10px;
}

.canvasTools{
    list-style: none;
    display: flex;
    flex-flow: row;
    margin: 0;
    padding-left: 0;
    padding-top: 4px;
}
.canvasTools li{
    cursor: pointer;
    height: 20px;
    width: 20px;
    margin-left: 4px;
}
.canvasTools li:first-of-type{
    margin-left: 0;
}
.canvasTools li:last-of-type{
    width: 28px;
}

pe-word{
    z-index: 123;
    border-right: 1px solid #47049F;
    background-color: #D5D0DC;
}

pe-word>h4{
    padding: 8px 4px 8px 4px;
    text-align: center;
    font-size: 1.5em;
    border-bottom: 1px solid gray;
}

pe-word>p{
    text-align: center;
    font-size: 1em;
}
pe-word>div{
    padding-left: 4px;
    padding-right: 4px;
}
pe-word>ul{
    margin-left: 4px;
    margin-right: 4px;
    margin-bottom: 8px;
    list-style: none;
    padding: 0;
}
pe-word>ul>li{
    width: 100%;
    padding: 2px 2px 2px 4px;
}

/*------GAME-----------*/
/*------LIST OVERVIEWS-----------*/

.list-group{
    margin-top: 16px;
    width: 100%;
}
.list-group-item{
    border-top: 1px solid #47049F;
    padding: 4px 0px 4px 16px;
}
.list-group-item>.profileLabel{
    display: inline-block;
    min-width: 100px;
    margin: 4px 8px 4px 0px;
}
.list-group-item:hover{
    background-color: #D5D0DC;
}
.list-group-item:last-child{
    border-bottom: 1px solid #47049F;
}
.list-group-item>h3{
    margin-top: 6px;
    margin-bottom: 10px;
}
.list-group-item>p{
    margin: 0;
    margin-bottom: 2px;
}

/*------LIST OVERVIEWS-----------*/

/*------AUTH en SIGN IN------------*/

pe-authentication{
    display: flex;
    justify-content: center;
}
.authBlock{
    margin-right: 16px;
    min-width: 268px;
}
.authBlock:first-of-type{
    margin-right: 16px;
}
.form-group{
    margin-top: 8px;
    margin-bottom: 8px;
    height: 30px;
}
.form-group>label{
    display: inline-block;
    height: 100%;
    min-width: 80px;
    margin-right: 8px;
}
.form-group>input{
    height: 100%;
}
/*--------RANKINGS---------*/
pe-rankings-item{
    display: flex;
}
pe-rankings-item>p{
    display: inline-block;
    margin: 0;
}
.rankingRank{margin-right: 16px;}
.rankingRank,.rankingName,.rankingPoints,.rankingPointsLabel{
    padding-top: 4px;
    font-size: 1.2em;
}
.rankingPoints{
    min-width: 50px;
}
.rankingName{
    min-width: 140px;
    margin-right: 8px;
}
/*-------ICONS-------*/
@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?b22xin');
    src:  url('../fonts/icomoon.eot?b22xin#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?b22xin') format('truetype'),
    url('../fonts/icomoon.woff?b22xin') format('woff'),
    url('../fonts/icomoon.svg?b22xin#icomoon') format('svg');
}
[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon' !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.icon-pencil2{
    margin-right: 8px;
}
.icon-pencil2:before {
    content: "\e906";
    font-size: 2em;
}
.icon-pacman:before {
    content: "\e916";
}
.icon-users:before {
    content: "\e972";
}
.icon-cog:before {
    content: "\e994";
}
.icon-trophy:before {
    content: "\e99e";
}
.icon-menu:before {
    content: "\e9bd";
    color: white;
    font-size: 2em;
}
.icon-happy:before {
    content: "\e9df";
}
.icon-enter:before {
    content: "\ea13";
}
.icon-exit:before {
    content: "\ea14";
}
.icon-loop2:before {
    content: "\ea2e";
}
.icon-mobile-nav{
    display: none;
}

@media (max-width: 714px) {
    .icon-mobile-nav{
        display: inline-block;
        padding: 10px 12px 12px 12px;
    }
    .navbar-nav:hover .icon-mobile-nav{
        background-color: #A482D1;
        cursor: pointer;
    }
    .navbar-nav:hover .nav-left-wrapper{
        display: inline-block;
    }
    .nav-left-wrapper{
        display: none;
        z-index: 123;
        position: absolute;
        top: 54px;;
        width: 100%;
    }
    .nav-row{
        margin-left: 0;
        width: 100%;
        display: flex;
        flex-flow: column;
    }
    .nav-row li{
        display: flex;
        width: 100%;
        background-color: #7B46C1;
    }
    .nav-row li:first-of-type{
        border-top: 1px solid #47049F;
    }
    .nav-row li a{
        flex-grow: 1;
        margin-left: 4px;
    }
}


