<div class="col-md-8 col-md-offset-2">
    <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="name">Name</label>
            <input
                    type="text"
                    id="name"
                    class="form-control"
                    formControlName="name">
        </div>
        <button
                class="btn btn-primary"
                type="submit"
                [disabled]="!myForm.valid">Create</button>
    </form>
</div>
