<nav class="navbar">
    <div class="navbar-nav">
        <div class="navbar-header">
            <a class="navbar-brand">Pictonar-E</a>
        </div>
        <span class="icon-mobile-nav icon-menu"></span>
        <div class="nav-left-wrapper">
            <ul class="nav-row" id="appNavList">
                <li routerLinkActive="active"><a [routerLink]="['/home']" >Home</a></li>
                <li routerLinkActive="active"><a [routerLink]="['/quickjoin']" >Quick Join</a></li>
                <li routerLinkActive="active" *ngIf="isLoggedIn()" ><a [routerLink]="['/roomlist']">Room List</a></li>
                <li routerLinkActive="active" *ngIf="isLoggedIn()"><a [routerLink]="['/createroom']">Create Room</a></li>
                <li routerLinkActive="active"><a [routerLink]="['/rankings']">Rankings</a></li>
            </ul>
        </div>
    </div>
    <div class="navbar-nav-right" *ngIf="isLoggedIn()">
        <a class="toggleButton" id="myToggle" role="button" aria-haspopup="true" aria-expanded="false">Account<span class="icon-play3 foldIcon"></span></a>
        <ul class="dropdown">
            <li routerLinkActive="active"><span class="dropdown-icon icon-cog"></span><a [routerLink]="['/user']" >Profile</a></li>
            <li routerLinkActive="active"><span class="dropdown-icon icon-users"></span><a [routerLink]="['/friends']">Friends</a></li>
            <li role="separator" class="divider"></li>
            <li><span class="dropdown-icon icon-exit"></span><a (click)="onLogOut()" >Log Out</a></li>
        </ul>
    </div>
</nav>
