<div class="vertical-center">
    <h1 class="centreTitle" >Unleash your inner artist</h1>
    <h2 class="centreSubtitle">Play with friends and get creative or just have fun with fellow Pictioneers.</h2>
    <div class="centreContentContainerRow" >
        <button class="btn btn-pictionare" [routerLink]="['/auth']" *ngIf="!isLoggedIn()" >Sign In</button>
        <p *ngIf="!isLoggedIn()">or</p>
        <button class="btn btn-pictionare" [routerLink]="['/quickjoin']">Play Now</button>
    </div>
</div>
