<div>
    <pe-canvas [gameRole]="gameRole" (roleChanged)="handleRoleChanged($event)" ></pe-canvas>
</div>
<div *ngIf="gameRole==='drawer'">
    <pe-word></pe-word>
</div>

<div>
    <pe-chat (messageSend)="updateChat()" [gameRole]="gameRole"></pe-chat>
</div>

<div class="{{gameMessageClass}}">
    <button class="closeButton" (click)="showHideGameMessage(false)" >x</button>
    <p>{{gameMessage}}</p>
</div>

<div class="letterboxWrapper">
    <div class="letterBox" *ngIf="showLetterBox===true">
        <ul class="letterList">
            <li *ngFor="let letter of wordLetters">
                <p class="letter">{{letter}}</p>
            </li>
        </ul>
    </div>
</div>