<div>
    <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="email">Mail</label>
            <input
                    type="email"
                    id="email"
                    class="form-control inputField"
                    formControlName="email">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input
                    type="password"
                    id="password"
                    class="form-control inputField"
                    formControlName="password">
        </div>
        <button
                class="btn btn-pictionare"
                type="submit"
                [disabled]="!myForm.valid">Submit</button>
    </form>
</div>