<div class="vertical-center">
    <h2 class="leftTitle">Profile</h2>
    <div class="centreContentContainerColumn">
        <ul class="list-group">
            <li class="list-group-item">
                <span class="profileLabel" >Nickname</span>
                <span>{{user.nickName}}</span>
            </li>
            <li class="list-group-item">
                <span class="profileLabel">Name</span>
                <span>{{user.firstName}}</span>
            </li>
            <li class="list-group-item">
                <span class="profileLabel">Lastname</span>
                <span>{{user.lastName}}</span>
            </li>
            <li class="list-group-item">
                <span class="profileLabel">Email</span>
                <span>{{user.email}}</span>
            </li>
            <li class="list-group-item">
                <span class="profileLabel">Points</span>
                <span>{{user.points}}</span>
            </li>
            <li class="list-group-item">
                <span class="profileLabel">Status</span>
                <span>{{user.status}}</span>
            </li>
        </ul>
    </div>
</div>